
.mejores{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.mejores .carta{
    margin: 10px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background: #dab11f;
}

.mejores .carta img{
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.mejores .carta .info{
    text-align: center;
    width: 300px;
}

.mejores .carta .info h2{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    margin-bottom: 5px;
}

.mejores .carta .info i{
    color: #000;
    font-size: 1.4em;
}

.mejores .carta .calculo{
    display: block;
    margin-top: 5px; 
    color: #000;
}

@media screen and (max-width: 800px) {
    .mejores{
        max-width: 100%;
        width: 1000px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .mejores .carta{
        margin: 10px;
        position: relative;
        border-radius: 10px;
        padding: 10px;
        display: block;
        width: 400px;
        height: auto;
        background: #dab11f;
    }
    
    .mejores .carta img{
        max-width: 100%;
        width: 200px;
        height: 2  00px;
    }
    
    .mejores .carta .info{
        text-align: center;
        width: 300px;
    }
    
    .mejores .carta .info h2{
        font-size: 1.5em;
        font-family: 'Courier New', Courier, monospace;
        color: #000;
        margin-bottom: 5px;
    }
    
    .mejores .carta .info i{
        color: #000;
        font-size: 1.4em;
    }
    
    .mejores .carta .calculo{
        display: block;
        margin-top: 5px; 
        color: #000;
    }
}