@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.slide {
    background: url("https://www.diverchopp.com/img/fondo-750.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    position: relative;
}


.slide.activo {
    display: block;
    position: relative;
    animation: 2s;
    animation-fill-mode: forwards;
}

.slide .fondo {
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* opacity: 50%; */
}

/*.controladores {
    position: absolute;
    bottom: 5%;
    right: 1%;
}
*/
.controladores span {
    border: 1px solid #fff;
    font-size: 20px;
    display: block;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    background: #0000009d;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1;
    color: #fff;
}

.prev{
    opacity: 0;
    position: absolute;
    left: 0%;
    width: 30px;
    top: 50%;
    transform: translate(0%,-50%);
    line-height: 300px;
}

.prev:hover{
    opacity: 1;
}

.next:hover{
    opacity: 1;
}

.next{
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
    width: 30px;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%,-50%);
    line-height: 300px;
}

