*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
::selection{
  background: #00fff2;
}
/* carga */
#texto-generado{
  /* color: #000; */
  font-family: 'Courier New', Courier, monospace;
}
.autoresize {
  resize: none;
  overflow-y: hidden;
}
/* codigo */
#overlay {
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* background: url(./317777504_631742454954138_7354368721083756453_n.jpg) center fixed; */
  /* background-size: cover; */
  /* background-repeat: none; */
  z-index: 1000000000000000000000;
  display: flex;
  align-items: center; 
  justify-content: center;
  }
  
  #loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  }
  
  .loader-circle {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f40303;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
  
  #loading-text {
  color: white;
  font-size: 16px;
  margin-top: 16px;
  }
::-webkit-scrollbar{
    border-radius: 1000px;
    width: 7px;
    background: #fff;
    /* display: none; */
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 1000px;
    background: #00fff2;
    display: block;
  }

  .carta-productos{
    color: #000;
      border: 1px solid #ccc;
      width: calc(25.3% - 20px);
      /* height: auto; */
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;  
      padding-bottom: 30px;
    }
    .carta-productos img{
        max-width: 100%;
        height: 200px;
        width: 100%;
        /*object-fit: cover;*/
    }
    
    @media screen and (max-width: 1058px) {
      .carta-productos {
        width: calc(39.0% - 20px);
      }
    }
     

    @media screen and (max-width: 480px) {
      .carta-productos {
          width: 99%;
      }    
      .cart-items-container {
        width: 100%;
    
    }    
    
    .open-black{
      z-index: 5;
        display: none;
    }    
    .cart-items-container {
      /* padding: 20px; */
      /* Estilos cuando el contenedor está cerrado */
      max-width: 100%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 300px;
      background-color: #ffffff;
     /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);*/
      overflow: auto;
      z-index: 10;
    }
    
    .cart-items-container.open {
      text-align: center;
      justify-content: center;
      max-width: 100%;
      height: 100%;
      width: 100%;
      /* Estilos cuando el contenedor está abierto */
      transform: translateX(0);
      position: fixed;
      z-index: 10;
    }
    
    }
    #productos{
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    
    }
    .productosEnCaja{
      justify-content: space-around;
      padding: 20px;
    }
    .carta-1{
      color: #000;
        border: 1px solid #ccc;
      width: 100%;
      /* height: auto; */
      margin-bottom: 20px;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;  
    }
    
    .carta-1 img{
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    /* Agrega tus estilos existentes aquí */
        
    .cart-items-container {
      /* Estilos cuando el contenedor está cerrado */
      max-width: 100%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 400px;
      background-color: #ffffff;
      /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);*/
      overflow: auto;
      z-index: 100;
      }
        
    .cart-items-container.open {
      text-align: center;
      justify-content: center;
      max-width: 100%;
    /* Estilos cuando el contenedor está abierto */
      transform: translateX(0);
      z-index: 10;
    }

    #hide-cart-btn{
      color: #ff0000;
      cursor: pointer;
      position: fixed;
      top: 0px;
      right: 0;
      font-size: 40px;
    }
    
    a{
      text-decoration: none;
    }
    #btnEnviarWhatsApp{
      color: #fff;
      padding: 10px 30px 10px 30px;
      background: #363636;
      font-size: 2vh;
    }
    
    .btn-buy{
      cursor: pointer;
      background: #3cff00;
      color: #000;
      padding: 10px 30px 10px 30px;
      border: 1px solid #000;
    }
    .eliminar{
      cursor: pointer;
      background: #bb0101;
      color: #000;
      padding: 10px 30px 10px 30px;
      border: 1px solid #000; 
    }
    .cart-items-container-black{
      z-index: 10;
      display: none;
      background: #0000007c;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    .open-black{
      z-index: 10;
      display: block;
    }
    .textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      resize: none;
      overflow: auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .textarea-delgados {
      width: 100%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      resize: none;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    /* textos */
    .carta-productos-title{
      margin-bottom: 10px;
    }
    .carta-productos-propiedades{
      
      margin-bottom: -10px;
    }
    .carta-productos-notasContainer{
      text-align: left;
      justify-content: left;
      margin-bottom: 10px;
    }
    .especificacion-p {
      margin-top: 10px;
      margin-bottom: 60px;
      width: 100px;
    }
    #aaaaa{
      width: 400px;
      height: 200px;
      overflow-x: auto;
    }

    /* Estilos para el select */
  .selec {
    margin-top: 10px;
    cursor: pointer;
      text-align: center;
      margin-bottom:  20px;;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      width: 100%;
      max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    }
    
    /* Estilos para las opciones del select */
    .selec option {
      padding: 8px;
      font-size: 14px;
    }
    
    /* Cambiar el color de fondo de la opción seleccionada */
    .selec option:checked {
      background-color: #f0f0f0;
    }
    
    /* Estilos adicionales cuando el select está enfocado */
    .selec-frabricante,.selec:focus {
      border-color: #007bff; /* Cambia el color de borde cuando está enfocado */
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra suave */
    }
    .selec-frabricante {
      margin-top: 10px;
      cursor: pointer;
        text-align: center;
        margin-bottom:  20px;;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        width: 100%;
        max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
      }
      
      /* Estilos para las opciones del select */
      .selec-frabricante option {
        padding: 8px;
        font-size: 14px;
      }
      
      /* Cambiar el color de fondo de la opción seleccionada */
      .selec-frabricante option:checked {
        background-color: #f0f0f0;
      }
      
      /* Estilos adicionales cuando el select está enfocado */
      .selec-frabricante ,.selec:focus {
        border-color: #007bff; /* Cambia el color de borde cuando está enfocado */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra suave */
      }
      .selec{
        border-color: #007bff; /* Cambia el color de borde cuando está enfocado */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Agrega una sombra suave */
      }
    .categoria-campo{
      display: none;
    }
    .premium{
      max-width: 100%;
      position: relative;
      overflow: auto;
      width: 400px;
      height: 630px;
    } 
    .contenedor-prime{
      z-index: none;
      position: static;
    }
    .password{
      background: #000000a9;
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      justify-items: center;
    }
    .pasword-contend{
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 100%;
    }
    .pasword-contend h1{
      margin-bottom: 30px;
    }
    .donar{
      background: #FFA500;
      padding: 10px 30px;
      border-radius: 1000px;
      color: #fff;
    }
    #carta-3{
      background: #000;
      width: 100%;
    }
    /*aa*/
  /* Estilos generales de la carta de productos */
  .contenedor-prime {
    background-color: #f9f9f9; /* Fondo gris claro */
    border: 1px solid #ddd; /* Borde gris */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    max-width: 100%; /* Ancho máximo */
    margin: 0 auto; /* Centrar en la página */
  }
  
  #carta-3 .carta-productos {
    text-align: center;
  }
  
  #carta-3 .carta-productos img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  #carta-3 .carta-productos-title {
    font-size: 24px;
    color: #FFD700; /* Color de texto negro */
    margin: 10px 0;
  }
  
  #carta-3 .carta-productos-propiedades {
    font-size: 18px;
    font-weight: bold;
    color: #FFD700; /* Dorado */
    margin-top: 10px;
  }
  
  /* Estilos para los selects y textareas */
  #carta-3 .selec,
  #carta-3 .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid   #FFD700; /* Dorado */
    border-radius: 5px;
  }
  #carta-3 .selec:focus {
    border-color: #FFD700; /* Cambia el color de borde cuando está enfocado */
    box-shadow: 0 0 5px #FFD700; /* Agrega una sombra suave */
  }
  #carta-3 .selec-frabricante {
    border-color: #FFD700; /* Cambia el color de borde cuando está enfocado */
    box-shadow: 0 0 5px #FFD700; /* Agrega una sombra suave */
  }
  #carta-3 .selec-frabricante:focus {
    border-color: #FFD700; /* Cambia el color de borde cuando está enfocado */
    box-shadow: 0 0 5px #FFD700; /* Agrega una sombra suave */
  }
  #carta-3 textarea {
    border-color: #FFD700; /* Cambia el color de borde cuando está enfocado */
    box-shadow: 0 0 5px #FFD700; /* Agrega una sombra suave */
  }
  /* Estilo para el botón de compra */
  #carta-3 .btn-buy {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; /* Dorado */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  #carta-3 .especificaciontext{
    color: #FFD700; /* Texto gris */
  }
  #carta-3 .btn-buy:hover {
    background-color: #FFA500; /* Dorado más oscuro al pasar el ratón */
  }
  
  .carta-productos-notasContainer p {
    margin-left: 6px;
    text-align: left;
    justify-content: left;
  }
  
  /* Estilo para las notas */
  #carta-3 .carta-productos-notasContainer p {
    color: #FFD700; /* Texto gris */
    text-align: left;
    justify-content: left;
    margin-left: 20px;
  }
    /*8*/
  
    .btn{
      display: inline-block;
      padding: 10px 50px;
      background-color: #FFD700; /* Color de fondo del botón */
      color: #fff; /* Color del texto del botón */
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }       
    .premium{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    .covertura-black{
        z-index: 10;
      display: none;
      width: 100%;
      height: 100vh;
      position: fixed;
      background: #00000063;
      top: 50%;
      left: 50%;
      transform: translateY(-50.1%) translateX(-50.1%);
    }
    /* Estilos responsivos para pantallas pequeñas */
    @media screen and (max-width: 768px) {
      .contenedor-prime {
  
        padding: 10px;
      }

        .btn {
            padding: 8px 16px;
            font-size: 14px;
        }

        .pasword-contend input{
  
          width: 200px;
  
        }

        .contenedor-info > select, input{
          margin-right: 20px;
        }
    }

    .close{
      z-index: 10000000000000000000;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10px;
      color: #ffffff;
      font-size: 30px;
      background: #ff0000;
      padding: 10px 20px;
      border-radius: 1000px;
    }
    /* #PremiumCartBtn{
      padding: 15px 15px 10px 15px;
      background: #FFD700;
      border-radius: 1000px;
      font-size: 30px;
      z-index: 10;
      color: #00fff2;
    } */
    /* #carta-1 .selec-frabricante{
      display: none;
    }
    #carta-2 .selec-frabricante{
      display: none;
    } */
    .carta-productos-notasContainer{
      margin-top: 10px;
    }
    .especificacion-p, .carta-productos-categoria, .carta-productos-fabricante, .carta-productos-notasContainer{
      text-align: left;
      justify-content: left;
    }
    .carta-productos-notasContainer{
      margin-left: -5px;
    }
    .fa-angle-left{
      margin-top: 15px;
    }
    /* .caja-de-info-envio{
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
    .contenedor-info{
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      max-width: 100%;
      padding: 10px;
      box-sizing: border-box;  
      width: 400px;
      border: 1px solid #00ffd5;
    }
    .contenedor-info > select, input{
      
      max-width: 100%;
      width: 90%;
      margin-top: 10px;
      height: 35px;
      text-align: center;
      margin: 0 auto;
    } */

    /* .oopen{
      cursor: pointer;
      padding: 23px 25px;
      color: #fff;
      background: blue;
      border-radius: 1000px;
    } */
    .modal {
      display: none;
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      /* overflow: auto; */
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal h1{
      font-size: 30px;
      font-weight: 1;
    }
    .modal .usar{
      border-top: 5px solid #000;
      margin-top: 10px;
    }
    .modal .usar iframe{
      max-width: 100%;
      width: 100%;
      height: 500px;
    }
    .modal .usar h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 1;
    }
    .modal-content::-webkit-scrollbar{
      border-radius: 30px;
      width: 7px;
      background-color: #000;
    }
    .modal-content::-webkit-scrollbar-thumb{
      background: #888888;
      border-radius: 30px;
    }
    .modal-content {
      padding: 10px;
      border-radius: 5px;
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      background-color: #fefefe;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* padding: 20px; */
      border: 1px solid #888;
      width: 890px;
      height: 600px;
      max-width: 100%;
      overflow: auto;
    }
    
    .closes {
      position: absolute;
      color: #000000;
      top: 0;
      right: 10px;
      /* float: right; */
      font-size: 38px;
      font-weight: bold;
      cursor: pointer;
    }
    .close-img{
      position: absolute;
      color: #000000;
      top: 0;
      right: 10px;
      /* float: right; */
      font-size: 38px;
      font-weight: bold;
      cursor: pointer;
    }
    .closes:hover,
    .closes:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    @media screen and (max-width: 780px){
      .carta-productos {
        width: calc(50.0% - 20px);
      }
    }
    @media screen and (max-width: 720px){
      .carta-productos {
        width: calc(90.0% - 20px);
      }

      .modal-content {
        position: absolute;
        width: 92%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
      }
      .modal .usar iframe{
        max-width: 100%;
        width: 100%;
        height: 400px;
      }
      }
      .caja{
        display: none;
      }
      /* .caja{
        display: none;
        width: 300px;
        height: 250px;
        position: fixed;
        bottom: 10px;
        left: 5px;
        background: none;
        pointer-events: none;
      } */
      .caja-abierta{
        transition: 2s;
      }
      .caja-abierta #open-bar-client-cover{
        cursor: pointer;
        padding: 20px 20px;
        background: #ff0000;
        border-radius: 1000px;
        font-size: 20px;
        color: #fff;
        position: fixed;
        left: 15px;
        bottom:  150px; 
      }
      .caja-abierta .oopen{
        cursor: pointer;
        padding: 23px 25px;
        color: #fff;
        background: blue;
        border-radius: 1000px;
        position: fixed;
        bottom: 10px;
        left: 150px;
      }
      .caja-abierta .cart-btn{
        color: #ff0000;
        cursor: pointer;
        padding: 20px;
        background: #00fff2;
        border-radius: 1000px;
        font-size: 20px;
        position: fixed;
        bottom: 70px;
        left: 120px;
      }
      .caja-abierta #PremiumCartBtn{
        cursor: pointer;
        padding: 20px 17px;
        background: #FFD700;
        border-radius: 1000px;
        font-size: 20px;
        color: #00fff2;
        position: fixed;
        bottom: 125px;
        left: 80px;
      }
      .caja-abierta .ImgBtn{
        cursor: pointer;
        padding: 20px 17px;
        background: #000000;
        border-radius: 1000px;
        font-size: 20px;
        color: #fff;
        position: fixed;
        bottom: 50px;
        left: 60px;
      }
      .open-caja-1{
        cursor: pointer;
        padding: 20px 17px;
        background: #FFD700;
        border-radius: 1000px;
        font-size: 20px;
        color: #00fff2;
        position: fixed;
        bottom: 5px;
        left: 5px;
      }
      .open-caja-2{
        cursor: pointer;
        padding: 20px 17px;
        background: #ff0000;
        border-radius: 1000px;
        font-size: 20px;
        color: #00fff2;
        position: fixed;
        bottom: 5px;
        left: 10px;
      }
      .desplegador-option{
        display: none;
      }   
      @media screen and (max-width: 360px){
        .carta-productos {
          width: calc(99.0% - 0px);
        }
      }
      .Modelo-user{
        color: #fff;
        font-weight: bold;
        top: 0;
        margin-top: 9px;
        padding: 5px;
        background: #FFD700;
        left: 0;
        font-size: 20px;
        position: fixed;
        z-index: 10;
      }


      .cargador-archivos{
        padding-top: 20px;
        max-width: 100%;
        width: 300px;
        height: auto;
        border: 1px solid #000;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
    }
    .cargador-archivos h1{
        font-size: 15px;
        padding: 10px 0px;
        width: 90%;
        margin: 0 auto;
        border: 1px solid #000;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .cargador-archivos input{
        width: 90%;
        height: 20px;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .imageContainer{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .carta-img img{
        max-width: 100%;
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
    }
    .button{
        text-decoration: none;
        border: 1px solid #000;
        padding: 5px;
        cursor: pointer;
    }
    .carta-img{
        color: #000;
        border: 1px solid #ccc;
        width: calc(35.3% - 20px);
        /* height: auto; */
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;  
        padding-bottom: 30px;
    }
    .fileNameElement{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-size: 17px;
    }
    @media screen and (max-width: 1058px) {
        .carta-img {
          width: calc(35.0% - 20px);
        }
    }
    @media screen and (max-width: 480px) {
        .carta-img {
            width: 98%;
        }
    }